[submodule "src/kernel"]
	path = src/kernel
	url = git@github.com:ne-foss-org/kernel.git
[submodule "src/build"]
	path = src/build
	url = git@github.com:ne-foss-org/build.git
[submodule "src/boot"]
	path = src/boot
	url = git@github.com:ne-foss-org/boot.git
[submodule "toolchains/mingw-w64-nekernel"]
	path = toolchains/mingw-w64-nekernel
	url = git@github.com:ne-foss-org/mingw-n64.git
[submodule "src/nectar"]
	path = src/nectar
	url = git@github.com:ne-foss-org/nectar.git
[submodule "papers"]
	path = papers
	url = git@github.com:ne-foss-org/papers.git
[submodule "toolchains/mingw-w64-gcc"]
	path = toolchains/mingw-w64-gcc
	url = git@github.com:ne-foss-org/gcc-n64.git
[submodule "meta/css"]
	path = meta/css
	url = https://github.com/jothepro/doxygen-awesome-css.git
